<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
  <!-- 配置一个通用的格式 -->
  <property name="myPattern_1" value="[%-5p] [%5t] %c %d{yyyy-MM-dd HH:mm:ss,SSS} %m%n" />
  <property name="myPattern_2" value="[%green(%d{HH:mm:ss})] [%highlight(%-5level)] [%thread] [%logger] %msg%n" />
  <appender name="MyConsole" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${myPattern_2}</pattern>
    </encoder>
  </appender>
  <!-- 定义文件附加器 -->
  <appender name="MyFile" class="ch.qos.logback.core.FileAppender">
    <file>logs/blog.log</file> <!-- 日志文件的路径 -->
    <encoder>
      <pattern>${myPattern_1}</pattern> <!-- 日志格式 -->
    </encoder>
  </appender>

  <!-- 额外的 logger ; name是 包名|全类名 level 是等级 additivity(是否继承,默认继承true) -->
  <!-- 配置项目日志记录器 -->
  <logger name="pvt.example" level="debug" additivity="false">
    <!-- root一样,可以额外设置多个 日志输出控制器 -->
    <appender-ref ref="MyConsole" />
  </logger>
  <!-- 为 MyBatis 设置日志级别 -->
  <logger name="org.mybatis" level="debug" additivity="false">
    <appender-ref ref="MyConsole" />
  </logger>

  <!-- root 是根所有配置 -->
  <root level="info">
    <appender-ref ref="MyConsole" />
  </root>
</configuration>