<!--
<link rel="stylesheet" th:href="@{/views/content/home.css}">
<div xmlns:th="http://www.thymeleaf.org/" class="home">
  src/resources/views/content/home.html
  <script>
  // 也可以称作 "仪表盘"
    // TODO 内容 load 替换 admin-content 和 admin-footer完善
    // TODO html的include添加方式,修改页面admin-main内容展示
    // 首页包含 基础信息+系统基本信息(服务器信息)
  </script>
</div>
-->
<body xmlns:th="http://www.thymeleaf.org/">
  <th:block th:include="~{common/fragment::common_head}" />
  <style type="text/less">
    .layui-card {
      border: 1px solid #F2F2F2;
      border-radius: 5px;
      margin-bottom: 15px;

      .layui-card-header {
        font-size: 14px;
        color: #333;

        i.fa-warning {
          margin-right: 10px;
          color: #1AA094;
        }

        i.fa-credit-card {
          margin-right: 10px;
          color: #1E9FFF;
        }

        i.fa-paper-plane-o {
          margin-right: 10px;
          color: #1AA094;
        }

        i.fa-fire {
          margin-right: 10px;
          color: #1AA094;
        }
      }

      .layui-card-body {
        .welcome-module1 {
          display: grid;
          grid-template-columns: auto auto;
          grid-gap: 10px;

          .panel-item {
            background-color: #F8F8F8;
            padding: 10px;position: relative;

            .panel-title > span {
              display: inline-block;
              position: absolute;
              height: 16px;
              line-height: 16px;
              right: 5px;
              padding: 0 5px;
              font-size: 10px;
              font-weight: bold;
              border-radius: 2px;
            }
          }
        }

        .welcome-module2 {
          display: grid;
          grid-template-columns: auto auto auto auto;
          grid-gap: 10px;

          .panel-item {
            height: 93px;
            padding: 0 5px;
            cursor: pointer;

            i {
              display: inline-block;
              width: 100%;height: 60px;
              line-height: 60px;text-align: center;
              border-radius: 5px;font-size: 30px;
              background-color: #F8F8F8;
              color: #333;
              transition: all .8s;
              -webkit-transition: all .8s;

              &:hover {color: #1E9FFF;transform: rotateY(180deg);}
            }
          }
        }
      }
    }
  </style>
  <div class="layui-fluid base-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md8 layui-col-space15">
        <div class="layui-col-md6">
          <div class="layui-card">
            <div class="layui-card-header"><i class="fa fa-warning"></i>数据统计</div>
            <div class="layui-card-body">
              <div class="welcome-module1">
                <div class="panel-item">
                  <div class="panel-title">
                    <span class="layui-bg-blue">实时</span>
                    <h5>用户统计</h5>
                  </div>
                  <div class="panel-content">
                    <h1 class="no-margins">1234</h1>
                    <small>当前分类总记录数</small>
                  </div>
                </div>
                <div class="panel-item">
                  <div class="panel-title">
                    <span class="label pull-right layui-bg-cyan">实时</span>
                    <h5>商品统计</h5>
                  </div>
                  <div class="panel-content">
                    <h1 class="no-margins">1234</h1>
                    <small>当前分类总记录数</small>
                  </div>
                </div>
                <div class="panel-item">
                  <div class="panel-title">
                    <span class="label pull-right layui-bg-orange">实时</span>
                    <h5>浏览统计</h5>
                  </div>
                  <div class="panel-content">
                    <h1 class="no-margins">1234</h1>
                    <small>当前分类总记录数</small>
                  </div>
                </div>
                <div class="panel-item">
                  <div class="panel-title">
                    <span class="label pull-right layui-bg-green">实时</span>
                    <h5>订单统计</h5>
                  </div>
                  <div class="panel-content">
                    <h1 class="no-margins">1234</h1>
                    <small>当前分类总记录数</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layui-col-md6">
          <div class="layui-card">
            <div class="layui-card-header"><i class="fa fa-credit-card"></i>快捷入口</div>
            <div class="layui-card-body">
              <div class="welcome-module2">
                <div class="panel-item"><i class="fa fa-bars"></i><cite>菜单管理</cite></div>
                <div class="panel-item"><i class="fa fa-cogs"></i><cite>系统设置</cite></div>
                <div class="panel-item"><i class="fa fa-file-text"></i><cite>表格示例</cite></div>
                <div class="panel-item"><i class="fa fa-dot-circle-o"></i><cite>图标列表</cite></div>
                <div class="panel-item"><i class="fa fa-calendar"></i><cite>表单示例</cite></div>
                <div class="panel-item"><i class="fa fa-hourglass-end"></i><cite>404页面</cite></div>
                <div class="panel-item"><i class="fa fa-snowflake-o"></i><cite>按钮示例</cite></div>
                <div class="panel-item"><i class="fa fa-search"></i><cite>百度搜索</cite></div>
              </div>
            </div>
          </div>
        </div>
        <div class="layui-col-md12">
          <textarea id="htmlEditing" style="display: none;"></textarea>
        </div>
      </div>
      <div class="layui-col-md4">
        <div class="layui-card">
          <div class="layui-card-header"><i class="fa fa-fire icon"></i>版本信息</div>
          <div class="layui-card-body layui-text">
            <table class="layui-table">
              <colgroup>
                <col width="100">
                <col>
              </colgroup>
              <tbody>
              <tr>
                <td>框架名称</td>
                <td>BasicMgmtBoot</td>
              </tr>
              <tr>
                <td>当前版本</td>
                <td>v0.0.1</td>
              </tr>
              <tr>
                <td>主要特色</td>
                <td>零门槛 / 响应式 / 清爽 / 极简</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="layui-card">
          <div class="layui-card-header"><i class="fa fa-paper-plane-o"></i>框架信息</div>
          <div class="layui-card-body">
            <p>1. 此框架页面主要基于layui2.6.8和font-awesome-4.7等库实现。layui开发文档地址：
              <a class="layui-btn layui-btn-xs layui-btn-danger" target="_blank" href="https://layui.dev/">layui文档</a>
            </p>
            <p>2. 此框架服务端主要使用SpringBoot＋Thymeleaf＋Mybatis＋MySQL开发实现</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>