<link rel="stylesheet" th:href="@{/static/views/content/home.css}">
<div id="admin-root" xmlns:th="http://www.thymeleaf.org/">
  <div class="header"></div>
  <div class="middle">
    <div class="calendar-hot-map">
      <div style="width: 800px;height:230px;"></div>
    </div>
    <div class="category-pie-chart">
      <div style="width: 380px;height: 230px;"></div>
    </div>
    <div class="tag-pie-chart">
      <div style="width: 380px;height: 230px;"></div>
    </div>
  </div>
  <div class="footer">
    <div class="item cpu">CPU信息</div>
    <div class="item memory">内存信息</div>
    <div class="item jvm">JVM信息</div>
    <div class="item os">服务器信息</div>
  </div>
  <script type="text/html" id="systemInfo">
    <h2><i class="fa fa-recycle"></i>{{= d.title}}</h2>
    <div class="panel">
      {{# layui.each(d.list, function(index, item){ }}
      <div>
        <div class="panel-left">{{ item.name }}</div>
        <div class="panel-right">{{ item.value }}</div>
      </div>
      {{# }); }}
    </div>
  </script>
  <script type="text/javascript" th:src="@{/static/lib/echart/echarts.min.js}"></script>
  <script type="text/javascript" th:src="@{/static/views/content/home.js}"></script>
</div>