<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pvt.example.mapper.PostMapper">
  <!--实体映射-->
  <resultMap id="base_result_map" type="pvt.example.pojo.entity.Post">
    <id property="id" column="id" />
    <!-- Post关联Category N对1 -->
    <association property="category" column="category_id"
                 select="pvt.example.mapper.CategoryMapper.selectCategoryByCategoryId"
                 javaType="pvt.example.pojo.entity.Category" />
    <!-- Post关联Tags N对N -->
    <collection property="tags" column="id" ofType="pvt.example.pojo.entity.Tag"
                select="pvt.example.mapper.TagMapper.selectTagsByPostId" />
  </resultMap>
  <!-- 查询基础信息 List<Post> -->
  <select id="selectPost" parameterType="pvt.example.pojo.query.PostQuery" resultMap="base_result_map">
    SELECT id, cover, title, summary, created_at, updated_at, is_top, is_del,
    cp.category_id AS category_id
    FROM posts
    JOIN categories_posts cp ON id = cp.post_id
    WHERE is_del = 0
    <if test="titleQuery != null and titleQuery.length() > 0">
      AND title LIKE '%' || #{titleQuery} || '%'
    </if>
    <if test="summaryQuery != null and summaryQuery.length() > 0">
      AND summary LIKE '%' || #{summaryQuery} || '%'
    </if>
    <if test="categoryId != null">
      AND cp.category_id = #{categoryId}
    </if>
    <if test="tagIds != null and tagIds.size() > 0">
      AND EXISTS (
      SELECT 1 FROM tags_posts tp
      WHERE tp.post_id = posts.id
      AND tp.tag_id IN
      <foreach item="tagId" collection="tagIds" open="(" separator="," close=")">
        #{tagId}
      </foreach>
      )
    </if>
    ORDER BY is_top DESC,id
    <bind name="offset" value="(page-1) * limit" />
    <if test="page != null and limit != null">
      LIMIT #{limit} OFFSET #{offset}
    </if>
  </select>
  <select id="selectPostAllBasic" resultMap="base_result_map">
    SELECT id, cover, title, summary, html_content, created_at, updated_at, is_top,
           cp.category_id AS category_id
    FROM posts
           JOIN categories_posts cp ON id = cp.post_id
    WHERE is_del = 0
    ORDER BY is_top DESC, id
  </select>
  <!-- 统计"基础信息 List<Post>"数量 -->
  <select id="selectPostCount" parameterType="pvt.example.pojo.query.PostQuery" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM posts
    JOIN categories_posts cp ON id = cp.post_id
    WHERE is_del = 0
    <if test="titleQuery != null and titleQuery.length() > 0">
      AND title LIKE '%' || #{titleQuery} || '%'
    </if>
    <if test="summaryQuery != null and summaryQuery.length() > 0">
      AND summary LIKE '%' || #{summaryQuery} || '%'
    </if>
    <if test="categoryId != null">
      AND cp.category_id = #{categoryId}
    </if>
    <if test="tagIds != null and tagIds.size() > 0">
      AND EXISTS (
      SELECT 1 FROM tags_posts tp
      WHERE tp.post_id = posts.id
      AND tp.tag_id IN
      <foreach item="tagId" collection="tagIds" open="(" separator="," close=")">
        #{tagId}
      </foreach>
      )
    </if>
  </select>
  <!-- 通过PostId查询post -->
  <select id="selectPostByPostId" parameterType="java.lang.Long" resultType="pvt.example.pojo.entity.Post">
    SELECT id, cover, title, summary, content
    FROM posts
    WHERE is_del = 0
      AND id = #{id}
  </select>
  <!-- 回收站post -->
  <select id="selectRecyclePosts" resultMap="base_result_map">
    SELECT id, cover, title, summary, created_at, updated_at, is_top, is_del,
           cp.category_id AS category_id
    FROM posts
           JOIN categories_posts cp ON id = cp.post_id
    WHERE is_del = 1
  </select>
  <!-- posts插入新增一条数据 -->
  <insert id="insertPost" parameterType="pvt.example.pojo.dto.PostRequest" keyProperty="id">
    INSERT INTO posts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">id,</if>
      <if test="title != null">title,</if>
      <if test="summary != null">summary,</if>
      <if test="cover != null">cover,</if>
      <if test="content != null">content,</if>
      <if test="htmlContent != null">html_content,</if>
      <if test="createdAt != null">created_at,</if>
      <if test="updatedAt != null">updated_at,</if>
    </trim>
    VALUES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">#{id},</if>
      <if test="title != null">#{title},</if>
      <if test="summary != null">#{summary},</if>
      <if test="cover != null">#{cover},</if>
      <if test="content != null">#{content},</if>
      <if test="htmlContent != null">#{htmlContent},</if>
      <if test="createdAt != null">#{createdAt},</if>
      <if test="updatedAt != null">#{updatedAt},</if>
    </trim>
  </insert>
  <!-- 通过id删除post -->
  <delete id="deletePost">
    DELETE FROM posts
    WHERE id IN
    <foreach collection="array" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>
  <!-- 通过id修改post -->
  <update id="updatePost" parameterType="pvt.example.pojo.dto.PostRequest">
    UPDATE posts
    SET cover = #{cover},
        title = #{title},
        summary = #{summary},
        content = #{content},
        html_content = #{htmlContent},
        updated_at = #{updatedAt}
    WHERE id = #{id}
  </update>
  <!-- 通过id修改post置顶 -->
  <update id="updatePostTop">
    UPDATE posts SET is_top = #{isTop} WHERE id = #{postId}
  </update>
  <!-- 通过id修改post删除状态 -->
  <update id="updatePostDel">
    UPDATE posts
    SET is_del = #{isDel}
    WHERE id IN
    <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
  </update>
</mapper>