<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pvt.example.mapper.SettingMapper">
  <select id="selectSettingAll" resultType="pvt.example.pojo.entity.Setting">
    SELECT key, value, comment FROM setting
  </select>
  <update id="updateSettingByKeyValue">
    UPDATE setting
    SET value = #{value}
    WHERE key = #{key}
  </update>
</mapper>