<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pvt.example.mapper.TagMapper">
  <!--实体映射-->
  <resultMap id="base_result_map" type="pvt.example.pojo.entity.Tag">
    <id column="id" property="id" />
  </resultMap>
  <!-- 获取所有Tags标签 -->
  <select id="selectTags" resultType="pvt.example.pojo.entity.Tag">
    SELECT id,name
    FROM tags
  </select>
  <!-- 查询Tag通过PostId -->
  <select id="selectTagsByPostId" parameterType="java.lang.Long" resultType="pvt.example.pojo.entity.Tag">
    SELECT id, name
    FROM tags
           JOIN tags_posts ON tags.id = tags_posts.tag_id
    WHERE tags_posts.post_id = #{postId}
  </select>
</mapper>