<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Markdown预览</title>
  <link rel="stylesheet" th:href="@{/static/lib/normalize.css}">
  <link rel="stylesheet" th:href="@{/static/lib/vditor/dist/index.css}" />
</head>
<body>
  src/resources/views/common/preview.html
  <div id="editor"></div>
  <script type="text/javascript" th:inline="javascript" id="ctxUrl" th:attr="data-ctx=${#servletContext.contextPath}">
    const ctxUrl = (document.getElementById("ctxUrl").dataset.ctx || '') + '/' /*项目根目录路径*/
    window.addEventListener("keydown", (e) => {
      if ((e.key.toLowerCase() === 's') && (e.ctrlKey || (navigator.platform.match("Mac") && e.metaKey))) {e.preventDefault()}
    }, false)
  </script>
  <script th:src="@{/static/lib/vditor/dist/method.js}" type="text/javascript"></script>
  <script type="text/javascript">
    // TODO Markdown预览
    
  </script>
</body>
</html>